# Pandas

В этом задании предлагается провести небольшой анализ данных датасета [studens](https://archive.ics.uci.edu/ml/datasets/Student+Performance#), в котором содержатся данные об успеваемости учеников старших классов.
Описание полей вы можете найти на [сайте](https://archive.ics.uci.edu/ml/datasets/Student+Performance#)

In [13]:
import pandas as pd
%matplotlib inline

## Задание 1 ★☆☆

Считайте файл в переменную `data` определите размер таблицы.

In [14]:
data = pd.read_csv('data/student-mat.csv', sep=';')
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [9]:
# размер это tuple (количество строк, количество столбцов)
shape = data.shape

Значение для формы

In [15]:
print(' '.join(map(str, shape)))

395 33

Посмотрите первые пять строк

In [11]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

Выведите список названий столбцов

In [12]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

## Задание 2 ★☆☆

Определите количество студентов, у которых оценка G1 выше среднего.

In [19]:
more_then_mean = len(data[data.G1>data.G1.mean()])

Значение для формы

In [20]:
print(more_then_mean)

202

## Задание 3 ★☆☆

Определите значение для поля `absences` после сортировки по убыванию по полю `G3`, которое находится на 100 позиции после сортировки (отсчет с 0).

In [25]:
absences_at_100 = data.sort_values(by='G3', ascending=False).iloc[100].absences

Значение для формы

In [26]:
print(absences_at_100)

6

## Задание 4 ★☆☆

Определите долю студентов женского и мужского пола.

In [35]:
# получите объект series индексы которого: F и M
serires_object = data.groupby('sex')['school'].count()/len(data)

In [36]:
data.groupby('sex')['school'].count()/len(data)

sex
F    0.526582
M    0.473418
Name: school, dtype: float64

Значение для формы

In [37]:
print("{:.3f} {:.3f}".format(serires_object['M'], serires_object['F']))

0.473 0.527

## Задание 5 ★★☆

Определите общее количество пропущенных значений в таблице.

In [14]:
null_count = 0

In [46]:
len(data), len(data.dropna(axis=1))

(395, 395)

In [43]:
for col in data.columns:
    print(len(data) - data[col].count())

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

Значение для формы

In [34]:
print(null_count)

## Задание 6 ★★☆

Определите уникальные значения 'Mjob', отсортируйте их по алфавиту, сопоставьте каждому значению его позицию в отсорированном списке и замените значения в таблице на его позицию. Например, если вы получили список уникальных значений ['a', 'c', 'f'], то вместо 'a' везде нужно поставить 0, вместо 'c' везде нужно поставить 1, а вместо 'f' - 
2.

In [53]:
Mjobs = list(data['Mjob'].value_counts(dropna=False).sort_index().index)
Mjobs

['at_home', 'health', 'other', 'services', 'teacher']

In [57]:
def f(name):
    return Mjobs.index(name)

data['Mjob'] = data['Mjob'].apply(f)

Значение для формы

In [59]:
print(data['Mjob'].value_counts().idxmax())

2

## Задание 7 ★★☆

Сгруппируйте данные по полю 'sex' и определите среднее значение, медиану и максимальное значение оценок 'G3'.
Подсказка: agg

In [65]:
# получите data frame с соответсвующими стрками (по полю sex) и столбцами (среднее, медиана и максимум)
df_grouped = data.groupby('sex')['G3'].agg(['mean', 'median', 'max'])

In [64]:
data.groupby('sex')['G3'].agg(['mean', 'median', 'max'])

          mean  median  max
sex
F     9.966346      10   19
M    10.914439      11   20

Значение для формы

In [66]:
print("{:.3f}".format(df_grouped.sum().sum()))

80.881

## Задание 8 ★★☆

Определите среднее количество пропусков занятий ('absences') среди студентов, каждая оценка которых ('G1', 'G2', 'G3') выше медианы.

In [70]:
mean_score_high_level = data[(data['G1']>data['G1'].median()) & (data['G2']>data['G2'].median()) & (data['G3']>data['G3'].median())] \
  ['absences'].mean()

In [71]:
data[(data['G1']>data['G1'].median()) & (data['G2']>data['G2'].median()) & (data['G3']>data['G3'].median())] \
  ['absences'].mean()

4.492647058823529

Значение для формы

In [72]:
print("{:.4f}".format(mean_score_high_level))

4.4926

## Визуализация в pandas

Постройте распределение оценок 'G1'(гистограмму). Используйте методы для data frame и series.

In [40]:
# TODO

Постройте scatter plot по признакам 'G3'и 'absences'

In [41]:
# TODO